.container1 {
    font-family: Verdana, Geneva, sans-serif;
    background-color:#f6f6ef;
  }
  
  .item{
    height :auto !important;
    background-color:#f6f6ef;
    display: flex;
    justify-content: flex-start;
    font-size: 10pt;
    padding: 5px 5px 2px 2px;
  }
  
  a:link {
    margin-left: 10px;
    font-size: 13px;
    color: #000000;
    text-decoration: none  !important;
  }
  
  .item-des {
    text-decoration: none ;
    font-size: 9px !important;
    color: #828282;
    /* margin-left: 10px; */
  }

  
  .icon-index{
    color: #828282 !important;
  }
  
  .margin-left-10 {
    margin-left: 10px;
  }
  .margin-left-5 {
    margin-left: 5px;
  }
  .margin-top-4 {
    margin-top: 4px;
  }
  .margin-top-10 {
    margin-top: 10px;
  }

  .jobtext {
      margin: 5px 5px 10px 10px;
      font-size: 10pt;
  }

  .highlight-jobtext {
    text-decoration: underline;
    color: black;
  }

 button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: 9px !important;
    color:  #828282;
    cursor: pointer;
  }

  .showButton {
    background: 1px black  !important;
    border: 1px solid !important;
    padding: 0 !important;
    font-size: auto !important;
    color:  #828282;
    cursor: pointer;
  }
  .flex-col {
      display: flex;
      flex-direction: column;
  }

  .font { 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
    color: #000000;
  }